
footer{background:url("./imagens/1008.png");padding: 1em 0 0 0;line-height: 10px; font-family: 'Montserrat', sans-serif;}
.phoenix{display: block;margin-left: auto;margin-right: auto; margin-bottom: 0.5em;width: 15%;}
footer div img{border: 3px solid;border-radius: 65px 65px;}
.copy{text-align: center;color: white;font-size: 10px;font-weight: bold;}
.contato{padding:0.5em 0;text-align: center;color: white;font-size: 10px;font-weight: bold;}
.contatos{padding: 0em 0em 1em; text-align: center;color: white;font-size: 10px;font-weight: bold;}