header{background-color:rgb(79 ,7 ,93); padding:20px 0; font-family: 'Montserrat', sans-serif;}
.conteiner{position: relative; width: 70%; margin: auto;}
h1{width: 30%;}
nav{ position: absolute; top: 31px; right: 50px;}
nav ul .b img{width: 30%;transition: all .4s ease;}
nav li {display:inline;margin: 10px;}
nav .a:hover{background-color: yellow;font-size: 40px;}
nav .b img:hover{width: 35%;}
nav .a {text-decoration: none;color: #000;font-family: "Roboto";font-size: 16px;transition: all 0.4s ease;-webkit-transition: all .4s ease;padding: 5px;background-color: #FFF;position: relative;border-radius: 10px;}
nav a.a:before {content: attr(data-title);background-color: #FFF;color: #000;font-size: 13px;padding: 10px;box-sizing: border-box;font-family: "Roboto";position: absolute;left: -5px;bottom: 60px;width: 60px;opacity: 0;transition: all .4s ease;border-radius: 10px;}
nav a.a:hover:after, nav a.a:hover:before {opacity: 1;}
.logo{margin-top: 10px;width: 250px; height: 80px;}
